* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}

:root {
  --background-color: black;
  --second-background-color: #121212;
  --third-backgroung-color: #242424;
  --forth-background-color: #181818;
  --text-color: white;
}

.container {
  height: 97.9vh;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 18rem auto;
  grid-template-rows: 41.5rem auto;
  row-gap: 0.5rem;
  padding: 0.5rem;
}

.sidebar {
  display: grid;
  gap: 0.5rem;
}

.sec1 {
  width: 17.5rem;
  height: 7rem;
  background-color: var(--second-background-color);
  border-radius: 0.5rem;
}

.sec1 ul {
  padding: 0.5rem 0.75rem;
  list-style: none;
}

.sec1 ul li {
  padding: 0.25rem 0.75rem;
  height: 2.5rem;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.search {
  opacity: 0.7;
}

.sec1 ul li:hover {
  cursor: pointer;
  opacity: 1;
}

.sec1 ul li i {
  padding-right: 1.2rem;
  font-size: 1.3rem;
}

.sec2 {
  width: 17.5rem;
  height: 34rem;
  background-color: var(--second-background-color);
  border-radius: 0.5rem;
}

.lib header {
  display: grid;
  grid-template-columns: 10.75rem 2rem 2rem;
  column-gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.lib1 {
  display: inline-flex;
  align-items: center;
  background-color: var(--second-background-color);
  border-style: none;
  padding: 0.25rem 0.5rem;
  opacity: 0.7;
  align-items: center;
}

.lib1:hover {
  cursor: pointer;
  opacity: 1;
}

.lib header button img {
  padding-right: 0.6rem;
  height: 2rem;
}

.lib header button div {
  font-size: 1rem;
  font-weight: 500;
}

.lib2 {
  display: inline-flex;
  align-items: center;
  background-color: var(--second-background-color);
  border-style: none;
  padding: 0.25rem 0.5rem;
  opacity: 0.7;
  align-items: center;
  font-size: 1rem;
}

.lib2:hover {
  cursor: pointer;
  opacity: 1;
}

.card {
  padding: 0 0.5rem 0 0.5rem;
}

.card1 {
  height: 6.75rem;
  width: 14rem;
  background-color: var(--third-backgroung-color);
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
  margin: 0.5rem 0;
  display: grid;
  grid-template-rows: 3.5rem 2rem;
  row-gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.card2 {
  height: 9.75rem;
  grid-template-rows: 6.5rem 2rem;
}

.content {
  /* width: 178.8px; */
  display: grid;
  row-gap: 0.5rem;
  line-height: 1.5rem;
}

#head {
  font-size: 1rem;
  font-weight: 600;
}

#para {
  font-size: 0.8rem;
  font-weight: 600;
}

.sec-btn button {
  border-style: none;
  background-color: var(--text-color);
  color: black;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
  height: 2rem;
  transition: ease-in-out;
}

.sec-btn button:hover {
  transform: scale(1.05);
}

.main {
  background-color: var(--second-background-color);
  border-radius: 0.5rem;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
  display: none;
}

.main-nav {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-btn button {
  background-color: #000000b3;
  height: 2rem;
  width: 2rem;
  border-style: none;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.nav-btn button:hover {
  cursor: not-allowed;
}

.nav-btn button i {
  opacity: 0.5;
  font-size: 1.3rem;
}

.explore {
  background-color: var(--text-color);
  color: black;
  border-style: none;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.explore:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.install {
  background-color: black;
  color: var(--text-color);
  border-style: none;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.install:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.install i {
  margin-right: 0.3rem;
}

.profile {
  background-color: black;
  color: var(--text-color);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border-style: none;
  margin-right: 0.5rem;
}

.profile:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.main-content {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 2rem;
  padding: 1rem 1.15rem;
}

.header1 {
  display: flex;
  justify-content: space-between;
}

.head1 {
  font-size: 1.2rem;
  font-weight: 700;
}

.head1:hover {
  cursor: pointer;
  text-decoration: underline;
}

.show {
  font-weight: 600;
  opacity: 0.7;
}

.show:hover {
  cursor: pointer;
  opacity: 1;
  text-decoration: underline;
}

.main-cards {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 1rem;
  padding-top: 1rem;
}

.main-card1 {
  background-color: var(--forth-background-color);
  border-radius: 0.5rem;
  padding: 1rem 1rem 2rem 1rem;
  line-height: 1.8rem;
  transition: 0.2s ease-in;
  height: 12.5rem;
  width: 8rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.main-card1:hover {
  background-color: #292929;
  cursor: pointer;
}

.main-card1:hover .card-play {
  display: inherit;
}

.main-card1 img {
  height: 8rem;
  width: 8rem;
}

.card-play {
  display: none;
  position: relative;
  left: 5rem;
  bottom: 9rem;
  transition: 1s ease-in-out;
}

.card-play i {
  font-size: 2.5rem;
  color: green;
  border-radius: 50%;
  background-color: black;
}

.con-head {
  font-weight: 600;
}

.con-dis {
  opacity: 0.7;
  font-size: 0.8rem;
}

.playbar {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 0.5rem;
}

.songInfo {
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: start;
  display: flex;
  justify-content: start;
  align-items: center;
}

.controls i {
  font-size: 1.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

.part_2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#startTime {
  padding-left: 12rem;
}

#endTime {
  padding-right: 12rem;
}

#myProgressBar {
  width: 30rem;
  height: 0.3rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

#barImg {
  width: 16%;
  padding-right: 0.5rem;
}

#volume {
  width: 7rem;
  height: 0.3rem;
  cursor: pointer;
}
